
<div class="container">
    
           	
        <div class="row">  	
            <div class="col-sm-8">
                                          
                        <div class="col-sm-8" >
                            <h2>Laisser une rediffusion</h2>
                            <div class="text-area" > 
                                <textarea  placeholder="Envoyer votre Commentaire " name="messageReplay" [(ngModel)]="repcomment.messageReplay" rows="11"></textarea>
                                <a class="btn btn-primary" (click)="addReplayComment()">Commenter</a>
                            </div>
                        </div>
            </div>
             			
        </div>  
    
</div><!--/#contact-page-->
