<div class="">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +216 31 597 990</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> info@eshopper.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
	</header><!--/header-->

	<div class="header-middle"><!--header-middle-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="logo pull-left">
						<a [routerLink]="['/dashboarda']"><img src="assets/images/home/logo.png" alt="" /></a>
					</div>
					
				</div>
				<div class="col-sm-8">
					<div class="shop-menu pull-right">
						<ul class="nav nav-pills">
							<li><a  [routerLink]="['/dashboarda']" class="active"><i class="fa fa-user" ></i> Compte</a></li>
							<li><a [routerLink]="['/checkout']" class="active"><i class="fa fa-crosshairs" ></i> Caisse</a></li>
							<li><a [routerLink]="['/Cart']" class="active"><i class="fa fa-shopping-cart"></i>Panier</a></li>
							<li><a  *ngIf="!isLoggedIn" [routerLink]="['/login']" class="active"> <i class="fa fa-lock"></i> Connexion</a>
								<a class="navbar-nav ml-auto" (click)="logout()" *ngIf="isLoggedIn" mat-button type="button"  > <i class="fa fa-quote left"></i> 
									  
								 Deconnexion </a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div><!--/header-middle-->
	<div class="header-bottom"><!--header-bottom-->
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="mainmenu pull-left">
						<ul class="nav navbar-nav collapse navbar-collapse">
							<li><a [routerLink]="['/dashboarda']" class="active">Acceuil</a></li>
							<li class="dropdown"><a [routerLink]="['/shop']" class="active">Achats<i class="fa fa-angle-down"></i></a>
								<ul role="menu" class="sub-menu">
									<li><a [routerLink]="['/products']" class="active">Produits</a></li>
									<li><a [routerLink]="['/detailproduct']" class="active">Détaille Produit</a></li> 
									<li><a [routerLink]="['/checkout']" class="active">Caisse</a></li> 
									<li><a [routerLink]="['/Cart']" class="active">Panier</a></li> 
									<li><a *ngIf="!isLoggedIn" [routerLink]="['/login']">Connexion</a>
										<a class="navbar-nav ml-auto" *ngIf="isLoggedIn" (click)="logout()" mat-button type="button"  > <i class="fa fa-quote left"></i>   
										 Logout </a></li>
								</ul>
							</li> 
							<li class="dropdown"><a [routerLink]="['/dashboarda']"class="active">Blogs<i class="fa fa-angle-down"></i></a>
								<ul role="menu" class="sub-menu">
									<li><a [routerLink]="['/blog']"class="active">Liste de Blogs</a></li>
									<li><a [routerLink]="['/blog']"class="active">Détaille Blog</a></li>
								</ul>
							</li> 
							<li><a [routerLink]="['/err']" class="active">404</a></li>
						</ul>
					</div>
				</div>
		
			</div>
		</div>
	</div><!--/header-bottom-->
	
</div>
