<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">Add Category</h3>
    <mat-progress-bar mode="buffer" *ngIf="progressBar"></mat-progress-bar>
    <form [formGroup]="myForm" name="category" (ngSubmit)="addCategory()">
      
      <div class="form-group col">
        <input placeholder="Name Of Category" type="text" class="form-control" name="name" [(ngModel)]="category.name" formControlName="name">
        <div *ngIf="myForm.controls['name'].invalid &&  myForm.controls['name'].touched " class="alert">
          <small class="text-danger" *ngIf="myForm.controls['name'].errors?.required" >nom est requise</small><br>
       </div></div>

       <div class="form-group col">
      <button type="submit" [disabled]="myForm.invalid"  class="btn btn-primary">Enregistrer</button>
        </div>
    </form>
  </div>
</div>